<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>

Categories | SMS Shayari

</title>

<link rel="stylesheet"
href="/css/output.css">

</head>



<body class="bg-black text-white">


<div class="flex">


<%- include('../partials/sidebar') %>



<div class="flex-1 ml-64">


<%- include('./header') %>




<div class="p-6">



<div class="flex justify-between items-center mb-8">


<h1 class="text-3xl font-bold">

Manage Categories

</h1>




<form

action="/admin/categories"

method="GET"

>


<input

type="text"

name="search"

placeholder="Search Category"


value="<%= search|| '' %>"


class="p-3

rounded-xl

bg-white/10

border

border-white/10

outline-none"

>


</form>



</div>






<!-- Add Category -->


<div

class="bg-white/10

backdrop-blur-xl

rounded-3xl

border

border-white/10

p-6

mb-8"

>



<form

action="/admin/categories/add"

method="POST"

class="flex gap-4"

>



<input


type="text"

name="name"

required


placeholder="Category Name"


class="flex-1


p-4


rounded-xl


bg-black/40


border


border-white/10"

>




<button


class="px-6


bg-purple-700


rounded-xl


hover:bg-purple-600"

>


Add


</button>




</form>




</div>







<!-- Category Table -->


<div


class="overflow-x-auto


bg-white/10


backdrop-blur-xl


rounded-3xl


border


border-white/10"

>




<table class="w-full">




<thead>



<tr


class="border-b


border-white/10"

>



<th class="p-4">

Name

</th>



<th class="p-4">

Slug

</th>



<th class="p-4">

Posts

</th>



<th class="p-4">

Actions

</th>



</tr>



</thead>






<tbody>



<%

categories.forEach(

(item)=>{

%>



<tr


class="border-b


border-white/5"

>



<td class="p-4">

<%= item.name %>

</td>




<td class="p-4">

<%= item.slug %>

</td>





<td class="p-4">

<%= item.postsCount || 0 %>

</td>






<td class="p-4">



<button


onclick="editCategory(

'<%= item._id %>',

'<%= item.name %>'

)"


class="px-4 py-2


bg-yellow-500


rounded-lg"

>


Edit


</button>






<a


href="/admin/categories/delete/<%=item._id%>"


class="ml-2


px-4 py-2


bg-red-600


rounded-lg"

>


Delete


</a>





</td>



</tr>



<%

}

)

%>



</tbody>




</table>



</div>







<!-- Edit Modal -->


<div

id="editModal"

class="hidden fixed inset-0 bg-black/70 backdrop-blur-sm z-50"

>


<div class="flex items-center justify-center min-h-screen">



<div


class="bg-zinc-900

p-6

rounded-3xl

w-full

max-w-md"

>



<h2

class="text-2xl font-bold mb-6"

>

Edit Category

</h2>





<form

id="editForm"

method="POST"

>



<input


type="text"

id="editName"

name="name"


class="w-full


p-4


rounded-xl


bg-black/40


border


border-white/10"

>





<div

class="flex justify-end gap-4 mt-6"

>



<button


type="button"


onclick="closeEdit()"


class="px-5 py-3


bg-zinc-700


rounded-xl"

>


Cancel


</button>






<button


class="px-5 py-3


bg-purple-700


rounded-xl"

>


Update


</button>




</div>



</form>



</div>


</div>


</div>







<script>


function editCategory(id,name){



document

.getElementById(

'editName'

)

.value=name;




document

.getElementById(

'editForm'

)

.action=


'/admin/categories/update/'+id;





document

.getElementById(

'editModal'

)

.classList

.remove(

'hidden'

);


}



function closeEdit(){



document

.getElementById(

'editModal'

)

.classList

.add(

'hidden'

);



}



</script>




</div>



</div>



</div>



</body>

</html>
