<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">


<title>

<%= settings?.siteTitle || 'SMS Shayari' %>

</title>


<meta

name="description"

content="<%= settings?.metaDescription || '' %>"

>


<meta

name="keywords"

content="<%= settings?.metaKeywords || '' %>"

>


<link

rel="stylesheet"

href="/css/output.css"

>


</head>




<body class="bg-black text-white">



<!-- Header -->

<%- include('./partials/header') %>




<main class="min-h-screen">



<!-- Hero -->

<%- include('./partials/hero') %>





<!-- Categories -->

<section class="py-6 px-4">


<%- include('./partials/category-pills') %>


</section>






<section class="max-w-7xl mx-auto px-4 pb-10">


<div class="grid grid-cols-1 lg:grid-cols-4 gap-8">



<!-- Main Content -->


<div class="lg:col-span-3">




<%

if(

!shayariList ||

shayariList.length===0

){

%>



<%- include('./partials/skeleton') %>



<%

}

else{

%>



<div class="space-y-6">


<%

shayariList.forEach(

item=>{

%>



<%- include('./partials/shayari-card',{item}) %>



<%

}

)

%>


</div>




<%

}

%>






<!-- Pagination -->


<div class="mt-10">


<%- include('./partials/pagination') %>


</div>





</div>






<!-- Sidebar -->


<div>


<%- include('./partials/adsense') %>


</div>





</div>



</section>





</main>






<!-- Footer -->

<%- include('./partials/footer') %>




</body>


</html>
